{% extends "_base.html" %}

{% block content %}
{% load static %}
<div class="hero-section">



    
        {% load static %}
        <div class="event">
  
            <img src="{% static 'images/dng.png' %}" alt="#">
            
        </div>




<div class="CTA">

    <button><a href="#">Reserve a Table</a></button>
    <button><a href="#">Book a Room</a></button>
    


</div>

</div>
<div class="title">
    <h3>About Bamboo</h3>
</div>
<div class="about" id="about">
    <div class="img">
        <img src="{% static 'images/trevor-gerzen-bIwKm5lQYsc-unsplash.jpg' %}">

    </div>

    <div class="text">
        <p>{% lorem 2 %}<p>

    </div>



</div>

<div class="title">
    <h2>The Bamboo Experience</h2>
</div>

<div class="experience" id="exp">
    <h3>Rooms</h3>

    
    <div class="rooms">

            <div class="text">
            <p>{% lorem 2 %}<p>
    
        </div>
        <div class="img">
            <img src="{% static 'images/christopher-jolly-GqbU78bdJFM-unsplash.jpg' %}">
    
        </div>
    


    </div>
     <h3>Food & Drinks</h3>
    <div class="drinks">

        <div class="img">
            <img src="{% static 'images/dng.png' %}">
    
        </div>



        <div class="text">
          
            <p>{% lorem 2 %}<p>
    
        </div>




    </div>

    


</div>



{% endblock content %}