{% extends "_base.html" %}
{% block title %}<title>Reserve Table</title>{% endblock title %}
{% block content %}


  {% load static %}
<div class="container" id="table">
<div class="img">
  <h3> Table for you and friends? We got You.</h3>
    <img src="{% static 'images/trevor-gerzen-bIwKm5lQYsc-unsplash.jpg' %}">

</div>


<div class="form">


<form method="POST">
  {% csrf_token %}
  

  <label for="reserve"></label>
  <input type="text" id="reserve" name="r_name" placeholder="Enter your name" required><br>

  <label for="reserve"></label>
  <input type="text" id="reserve" name="r_contact" placeholder="Enter your Contact" required><br>

  <label for="reserve"></label>
  <input type="integer" id="reserve" name="number" placeholder="How many are you?" required><br>

  <label for="reserve">Date:</label>
  <input type="date" id="reserve" name="when"  required><br>



  <button type="submit">Reserve Table</button>
</form>
</div>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}