*{
    margin: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    padding: 15px;
    background: #333333;
    color: white;
}
nav .logo h3{
    font-family: "Edu AU VIC WA NT Pre", cursive;
    color: #FFD700;

}
nav ul{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
nav ul li{
    list-style: none;
    font-family: "Encode Sans Semi Condensed", sans-serif;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
body{
    background: #FAF3E0;
    color: #4E342E;
}